@import 'colors';

.base {
  font-family: 'GT America', Arial, sans-serif;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  font-size: 1.1rem;
  line-height: 1.7;
  height: 98vh;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 560px) {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    line-height: 1.4;
    font-size: 1rem;
  }
}

.base-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Dropdown*/
.Dropdown-root {
  position: relative;
  font-size: 1.2rem;
  padding-bottom: 1rem;

  @media (max-width: 550px) {
    font-size: 15px;
  }
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid @input-border-color;
  box-sizing: border-box;
  color: @input-color;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: @link-hover-color transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: '';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 45%;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent @link-hover-color;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid @dropdown-border-color;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  z-index: 100;
  color: @dropdown-text-color;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: @link-hover-color;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: @action-color;
  color: @dropdown-text-color;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: @dropdown-text-color;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

/*Buttons*/
.btn {
  height: 4rem;
  width: 8rem;
  border: none;
  background-color: @secondary-color;
  margin-top: 0.5rem;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  @media (max-width: 440px) {
    height: 2.5rem;
    width: 5rem;
    font-size: 0.8rem;
  }
  @media (max-width: 340px) {
    height: 2.2rem;
    width: 4.4rem;
    font-size: 0.7rem;
  }

  @media (max-width: 310px) {
    height: 2rem;
    width: 4rem;
    font-size: 0.6rem;
  }

  &-warning {
    background-color: @danger-color;
    &:hover {
      background-color: @danger-hover-color;
    }
  }

  &-submit {
    background-color: @secondary-color;

    &[disabled] {
      background-color: @disabled-color;
      cursor: default;
    }
  }

  &-right {
    @media (max-width: 700px) {
      float: right;
    }
  }

  &-queue {
    margin-bottom: 1rem;
    width: 300px;
    font-size: 40px;
    @media (max-width: 677px) {
      font-size: 20px;
      width: 150px;
    }
  }

  &-search {
    height: 2.6rem;
    width: 5rem;
    font-size: 0.8rem;
    margin-top: 0;
    padding: 0;
    @media (max-width: 440px) {
      height: 2.4rem;
      width: 5rem;
      font-size: 0.8rem;
    }
    @media (max-width: 340px) {
      height: 2.2rem;
      width: 4.4rem;
      font-size: 0.7rem;
    }

    @media (max-width: 310px) {
      height: 2rem;
      width: 4rem;
      font-size: 0.6rem;
    }
  }
  &-modal {
    height: 3rem;
    width: 5rem;
    font-size: 0.8rem;
    top: 0;
    @media (max-width: 440px) {
      height: 3rem;
      width: 5rem;
      font-size: 0.8rem;
    }
    @media (max-width: 340px) {
      height: 3rem;
      width: 4.4rem;
      font-size: 0.7rem;
    }

    @media (max-width: 310px) {
      height: 3rem;
      width: 4rem;
      font-size: 0.6rem;
    }
  }
}

textarea {
  resize: none;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid black;
}

.leksehjelp--button-close {
  background: none;
  color: inherit;
  padding: 0.5rem;
  font: inherit;
  outline: none;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.subject--list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  &-element {
    border: thin solid @tag-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    color: @tag-color;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    height: 50px;
    @media (max-width: 677px) {
      height: 40px;
    }
    p {
      padding: 0 0.5rem;
      padding-bottom: 1rem;
      font-size: 1rem;
      @media (max-width: 440px) {
        font-size: 0.8rem;
        padding-bottom: 0.8em;
      }
      @media (max-width: 340px) {
        font-size: 0.7rem;
        padding-bottom: 0.7em;
      }

      @media (max-width: 310px) {
        font-size: 0.6rem;
        padding-bottom: 0.6em;
      }
    }
  }
}
