@import 'colors';

//Chat message styling
.cm {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10%;

  &--notification {
    border-top: @message-separator 1px solid;
    padding: 0.5rem 1rem;
    text-align: center;
    &--body {
      white-space: pre-wrap;
      color: @welcome-message-body;
      font-size: 1rem;
      > .author-name {
        color: @primary-color;
      }
    }
  }

  &--file-name {
    font-weight: 550;
    font-size: 1rem;
    color: @black;
  }
  &--file-size {
    font-size: 0.8rem;
    color: @black;
  }

  &--message {
    margin: 0;
    font-size: 1rem;
    padding: 0.3rem;
    overflow-wrap: break-spaces;
    border: solid 0px @select-color;
    border-radius: 0.2rem;
    max-width: 50vw;
  }

  &--self {
    &--message {
      margin-left: 50%;
      overflow-wrap: break-word;
      @media (max-width: 550px) {
        margin-left: 45%;
      }
      color: @white;
      background-color: @self-chat-message-color;
    }
    &--file {
      margin-left: 50%;
      @media (max-width: 550px) {
        margin-left: 20%;
      }
    }
  }
  &--download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: @white;
    border: solid 1px @select-color;
    border-radius: 0.2rem;
  }
  &--other {
    &--message {
      margin-right: 25%;
      overflow-wrap: break-word;
      @media (max-width: 550px) {
        margin-right: 15%;
      }
      background-color: @other-chat-message-color;
    }
    &--file {
      margin-right: 50%;
      @media (max-width: 550px) {
        margin-right: 20%;
      }
      background-color: @white;
    }
  }
  &--author-self {
    text-align: right;
  }
  &--author-other {
    text-align: left;
  }
  &--author-self,
  &--author-other {
    margin: 0;
    font-weight: lighter;
    color: @label-color;
  }
}

.svg-download {
  height: 1.5rem;
  padding: 0.6rem;
  cursor: pointer;
}

.link {
  color: @link-color;
}
