@import 'colors.less';

.footer {
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: @primary-color;
  color: @white;

  &--content {
    font-size: 1.24rem;
    padding: 0rem 3.7rem;
    font-weight: normal;
    vertical-align: center;

    &--link {
      color: @white;
    }
  }
}
