@import 'colors.less';

@body-margin: 2.67rem;
@body-margin-mobile: 1rem;

.footer {
  margin-left: -@body-margin;
  padding-left: -@body-margin;
  padding: 1rem 0;
  color: @white;
  background-color: @primary-color;
  width: ~'calc(100% + 2*(@{body-margin}))';

  @media (max-width: 560px) {
    margin-left: -@body-margin-mobile;
    padding-left: -@body-margin-mobile;
    width: ~'calc(100% + 2*(@{body-margin-mobile}))';
  }
}

.footer a {
  color: @white;
}

.footer span {
  margin-left: @body-margin;
  @media (max-width: 560px) {
    margin-left: @body-margin-mobile;
  }
}
