@import 'colors.less';

.header {
  height: 5rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.24rem;
  @media (max-width: 550px) {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &--rk_logo {
    height: 2.5rem;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    @media (max-width: 550px) {
      height: 1.4rem;
    }
  }

  &--logo {
    font-weight: bold;
    white-space: nowrap;
    color: @black;
    cursor: pointer;
  }

  &--serviceStatusMessage {
    color: @primary-color;
  }
  &--link {
    text-decoration: none;
  }
}
