@import 'colors.less';

.header {
  height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.24rem;
  @media (max-width: 550px) {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &--rk_logo {
    height: 2.5rem;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    @media (max-width: 550px) {
      height: 1.4rem;
    }
  }

  &--logo {
    font-weight: bold;
    white-space: nowrap;
    color: @black;
    cursor: pointer;
  }

  &--serviceStatusMessage {
    margin-left: 0.5rem;
    color: @primary-color;

    @media (max-width: 767px) {
      margin-left: initial;
    }
  }
  &--link {
    text-decoration: none;
  }
}
.header-button-container {
  display: flex;
  flex-direction: row;

  > .header-button {
    height: max-content;
    border: thin solid @primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    color: @primary-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  > p,
  .header-button {
    margin-top: 0;
    font-size: 1.2rem;
    @media (max-width: 520px) {
      font-size: 0.8rem;
      line-height: 1rem;
    }
    @media (max-width: 520px) {
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
  > p {
    margin-right: 0.3rem;
  }
}
