@import 'colors';
.content {
  > .button-container {
    display: flex;
    flex-direction: row;
    > .btn {
      margin-right: 1rem;
    }
  }
  .header {
    margin: 0 auto;
    > .text {
      font-size: 2rem;
      > .course {
        color: @primary-color;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    overflow: hidden;
    > .text {
      font-size: 1.2rem;
      flex-grow: 1;
    }
    > .iframe-container {
      width: 50%;
      position: relative;
      overflow: hidden;
      padding-top: 80%;
      > .frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
