@import 'colors';
.waiting-container {
  display: flex;
  flex-direction: column;

  > .content {
    display: flex;
    flex-direction: column;
    > .queue-link {
      font-size: 1.4rem;
      padding: 2rem 0;

      > a {
        color: @secondary-color;
        &:hover {
          filter: brightness(80%);
        }
        &:active {
          color: @secondary-color;
        }
        &:visited {
          color: @secondary-color;
        }
      }
    }
    > .button-container {
      display: flex;
      flex-direction: row;
      > .btn {
        margin-right: 1rem;
      }
    }
    .header {
      margin: 0 auto;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      > .queue {
        color: @primary-color;
      }
      > .text {
        font-size: 2rem;
        > .course {
          color: @primary-color;
        }
      }
    }

    .body {
      > .item {
        > .text {
          margin: 4rem .5rem 0;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}
