@import 'colors';
.content {
  > .button-container {
    display: flex;
    flex-direction: row;
    > .btn {
      margin-right: 1rem;
    }
  }
  .header {
    margin: 0 auto;
    > .text {
      font-size: 2rem;
      > .course {
        color: @primary-color;
      }
    }
  }

  .body {
    > .item {
      > .text {
        font-size: 1.2rem;
      }
    }
  }
}
