@import 'colors.less';

.success-body {
  width: '100%';
  margin-left: 0;
  margin-right: 0;
  height: 85vh;
  background-color: @form-background-color;
}

.text-container {
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  > .text {
    font-weight: 550;
    font-size: 3rem;
    width: 70vw;
    @media (max-width: 520px) {
      font-weight: 400;
      font-size: 2rem;
    }
  }
}
