@import 'colors';
@import 'base';

.container {
  margin-bottom: 20px;
  background-color: @form-background-color;

  @media (min-width: 768px) {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (min-width: 1366px) {
    display: flex;

    > * {
      width: 50%;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.container {
  border: solid 1px @black;
  padding: 2rem;
  margin-top: 2.8rem;
  &--header {
    font-size: 2.5rem;
    color: @hero-black;
  }

  &--text {
    margin: 0 0 10px;
    font-size: 1.4rem;
    color: @hero-black;
    &--colored {
      color: @secondary-color;
      line-height: 1.5;
    }
  }

  &--form {
    &--input {
      width: 100%;
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;
      font-size: 15px;
      height: 1.5vh;
    }

    &--header {
      font-size: 1.25rem;
      margin-bottom: 0.6rem;
      font-weight: bold;
    }
  }
}

.searchcontainer {
  display: flex;
  flex-wrap: wrap;
  &--input {
    &--searchkey {
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;

      font-size: 1.2rem;
      height: 2.8;
      margin-bottom: 1rem;
      margin-right: 0.6rem;

      width: 100%;
      padding: 0.7rem;
      border: 1px solid #d1d1d1;
      border-radius: 0;
      -webkit-appearance: none;
    }

    &--gradeselector {
      flex-basis: 320px;
      min-width: 100px;
      color: @hero-black;
      margin-right: 0.8rem;
    }
    &--subjectselector {
      flex-basis: 220px;
      min-width: 100px;
      margin-right: 0.8rem;
      color: @hero-black;
    }
  }

  &--header {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
    font-weight: normal;
    color: @hero-black;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &--label {
    display: block;
    max-width: initial;
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }

  &--input-container {
    width: 100%;
    @media (min-width: 768px) {
      padding: 1.5rem 0 2rem;
    }
  }

  &--selector {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #60666d;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }
  }
}

.anon {
  margin-top: 1rem;
  > input {
    float: left;
    margin-right: 0.5rem;
  }
}

.textarea,
.email {
  resize: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px @input-border-color;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  margin-bottom: 1rem;

  &.error {
    border-color: @error-color;
  }
}

.textarea {
  height: 8rem;
}

//Ikke rør

//////
