@import 'colors';
@import 'base';

.form-container {
  background-color: @form-background-color;
  padding: 2rem;
  margin: 2.4rem auto;

  @media (max-width: 768px) {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.9rem;
  }
  @media (max-width: 520px) {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    padding-top: 0.5rem;
  }

  @media (min-width: 769px) {
    padding-right: 4rem;
    padding-left: 4rem;
    width: 70%;
  }

  @media (min-width: 992px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }

  &--form {
    &--input-container {
      width: 100%;
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;
      font-size: 15px;
      height: 1.5vh;

      @media (min-width: 768px) {
        padding: 1.5rem 0 2rem;
      }
    }
  }
}

.formLabel {
  display: block;
  max-width: initial;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
  @media (max-width: 520px) {
    font-size: 1rem;
  }
}

.searchcontainer {
  display: flex;
  flex-wrap: wrap;
  &--input {
    &--searchkey {
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;

      font-size: 1.2rem;
      height: 2.8;
      margin-bottom: 1rem;
      margin-right: 0.6rem;

      width: 100%;
      padding: 0.7rem;
      border: 1px solid #d1d1d1;
      border-radius: 0;
      -webkit-appearance: none;
    }

    &--gradeselector {
      flex-basis: 320px;
      min-width: 100px;
      color: @hero-black;
      margin-right: 0.8rem;
    }
    &--subjectselector {
      flex-basis: 220px;
      min-width: 100px;
      margin-right: 0.8rem;
      color: @hero-black;
    }
  }

  &--header {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
    font-weight: normal;
    color: @hero-black;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

.helpText {
  float: right;
  &--colored {
    color: @secondary-color;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &--label {
    display: block;
    max-width: initial;
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }

  &--selector {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #60666d;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }
  }
}

.anon {
  margin-top: 1rem;
  > input {
    float: left;
    margin-right: 0.5rem;
  }
}

.textarea,
.email {
  resize: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px @input-border-color;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.1rem;
  @media (max-width: 520px) {
    font-size: 0.8rem;
  }
  margin-bottom: 1rem;

  &.error {
    border-color: @error-color;
  }
}

.textarea {
  height: 8rem;
}

.dropzone {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  border-radius: 0.6rem;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  max-height: 3rem;

  > .message-text {
    color: @black;
    font-size: 1.1rem;
    vertical-align: 'middle';
    @media (max-width: 520px) {
      font-size: 0.8rem;
    }
    @media (max-width: 340px) {
      font-size: 0.65rem;
    }
    > .grey {
      color: @help-text-color;
    }
  }

  .upload {
    flex-shrink: 0;
    border: none;
    color: white;
    background-color: @action-color;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    font-size: 32px;
    border-radius: 0.6rem;
    @media (max-width: 520px) {
      width: 2rem;
      height: 2rem;
      font-size: 28px;
    }
    @media (max-width: 340px) {
      width: 1.8rem;
      height: 1.8rem;
      font-size: 26px;
    }
    cursor: pointer;
  }
}
.file {
  display: none;
}

.filelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;

  .element {
    height: 2rem;
    margin-top: 0.4rem;
    @media (max-width: 520px) {
      height: 1.7rem;
      margin-top: 0.3rem;
    }
  }
}

.filelist-ankertag {
  color: @hero-black;
  text-decoration: none;
  font-size: 1rem;
  @media (max-width: 520px) {
    font-size: 0.7rem;
  }
}

/* The container */
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.3rem;
  @media (max-width: 520px) {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  line-height: 1.8rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;

  @media (max-width: 520px) {
    height: 14px;
    width: 14px;
    border: solid 0.5px @select-color;
  }

  background-color: @white;
  border: solid 1px @select-color;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
  background-color: @secondary-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  @media (max-width: 520px) {
    left: 4px;
    top: 2px;
    width: 2.5px;
    height: 5px;
    border-width: 0 2px 2px 0;
  }
}
