@import 'colors';
@import 'base';

.form-container {
  background-color: @form-background-color;
  padding: 2rem;
  margin: 2.8rem auto;

  @media (max-width: 768px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (min-width: 769px) {
    padding-right: 4rem;
    padding-left: 4rem;
    width: 70%;
  }

  @media (min-width: 992px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }

  &--form {
    &--input-container {
      width: 100%;
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;
      font-size: 15px;
      height: 1.5vh;

      @media (min-width: 768px) {
        padding: 1.5rem 0 2rem;
      }
    }

    &--label {
      display: block;
      max-width: initial;
      font-weight: bold;
      font-size: 1.3rem;
      padding-bottom: 0.5rem;
    }
  }
}

.searchcontainer {
  display: flex;
  flex-wrap: wrap;
  &--input {
    &--searchkey {
      padding: 0.5rem;
      border: solid 1px @select-color;
      border-radius: 0;
      -webkit-appearance: none;

      font-size: 1.2rem;
      height: 2.8;
      margin-bottom: 1rem;
      margin-right: 0.6rem;

      width: 100%;
      padding: 0.7rem;
      border: 1px solid #d1d1d1;
      border-radius: 0;
      -webkit-appearance: none;
    }

    &--gradeselector {
      flex-basis: 320px;
      min-width: 100px;
      color: @hero-black;
      margin-right: 0.8rem;
    }
    &--subjectselector {
      flex-basis: 220px;
      min-width: 100px;
      margin-right: 0.8rem;
      color: @hero-black;
    }
  }

  &--header {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
    font-weight: normal;
    color: @hero-black;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

.helpText {
  float: right;
  &--colored {
    color: @secondary-color;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &--label {
    display: block;
    max-width: initial;
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }

  &--selector {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #60666d;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }
  }
}

.anon {
  margin-top: 1rem;
  > input {
    float: left;
    margin-right: 0.5rem;
  }
}

.textarea,
.email {
  resize: none;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px @input-border-color;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  margin-bottom: 1rem;

  &.error {
    border-color: @error-color;
  }
}

.textarea {
  height: 8rem;
}
