@import 'colors.less';

.hero {
  color: @hero-black;
  border-bottom: solid 1px @black;
  line-height: 1.2;

  &--description {
    font-size: 2.5rem;
    max-width: 1100px;

    &--colored {
      color: @primary-color;
    }
  }

  &--tips {
    color: @primary-color;
    background-color: @info-background;
    font-size: 0.9em;
    padding: 0.8em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  &--svg {
    width: 100%;
    margin: 1rem auto 2rem;
    display: block;
    max-width: 20rem;
    border: 0;
  }
}
